In [2]:
import pandas as pd
import os

In [3]:
os.listdir()

['Historical Product Demand.csv',
 'material_2023-01-31.parquet',
 'Untitled.ipynb',
 'demand-rfr.pkl',
 'nohup.out',
 'join_parquets.py',
 'product-demand-rfr.py.save',
 'xgb_ho.py',
 'Untitled1.ipynb',
 'README.md',
 'prediction',
 'custom_resume.csv',
 'libraries.py',
 'concat_pandas_2022.csv',
 'summary_files.py',
 'api.py',
 'AdamOptimizerInteractive.ipynb',
 'xgb_gh.py',
 'single_parquets.py',
 'customer_catalog_prep.py',
 'adam_optimizer.py',
 'customers_2022.csv',
 'concat_data.csv',
 'demand_pred_FEB23.parquet',
 'kmeans grouping.ipynb',
 'LICENSE',
 '.ipynb_checkpoints',
 'concat_pandas.py',
 'demand-xgb_ho.py',
 'product-demand-rfr.py',
 'xgb_grid.py',
 'demand-rfr.py',
 'scaler_xgb.pkl',
 'product-demand-xgb_ho.py',
 'product-demand-adam-auto.py',
 'concat_pandas_2021plus.csv',
 'scaler.pkl',
 'smn_data_parser.py',
 'demand_pred_JAN23.parquet',
 'data',
 'product-demand-adam-auto.py.save',
 'Validation.ipynb',
 'catalogs',
 '.git']

In [4]:
d = pd.read_parquet( 'demand_pred_FEB23.parquet')

In [6]:
d.PRED.sum()

14969069.0

In [7]:
d = pd.read_parquet( 'demand_pred_JAN23.parquet')

In [9]:
d.head()

   CUSTOMER  MATERIAL  PRED
0   6001380       409   1.0
1   6001380       436   1.0
2   6001380       442   1.0
3   6001380       450   1.0
4   6001380       459   1.0